<div class="grid h-screen place-items-center bg-green-100">
  <div class="grid grid-cols-3 gap-3 scale-150 max-w-screen-xl">
    <div
      class="coding col-span-2 inverse-toggle px-5 pt-4 shadow-lg text-gray-100 text-sm font-mono subpixel-antialiased bg-gray-800 pb-4 rounded-lg leading-normal overflow-hidden"
    >
      <div class="top flex w-full mb-0">
        <div class="h-3 w-3 bg-red-500 rounded-full"></div>
        <div class="ml-2 h-3 w-3 bg-orange-300 rounded-full"></div>
        <div class="ml-2 h-3 w-3 bg-green-500 rounded-full"></div>

        <div class="top mr-5 flex justify-end w-full">
          <select
            class="text-right mr-5 text-sm bg-gray-800 border-none placeholder-gray-800 text-green-400 focus:ring-none focus:border-none hover:bg-gray-800"
            [(ngModel)]="selectedCategory"
            (change)="loadCommands()"
          >
            <option value="azure">Azure CLI</option>
            <option value="linux">Linux</option>
            <option value="network">Network</option>
            <option value="nmap">NMAP</option>
            <option value="git">GIT CLI</option>
            <option value="ports">Ports</option>
            <option value="ubuntu">Ubuntu</option>
            <option value="find">Find CMD</option>
          </select>

          <label
            class="float-right relative inline-flex items-center cursor-pointer"
          >
            <input
              class="sr-only peer"
              type="checkbox"
              [(ngModel)]="showSolution"
              (change)="togglePlaceholder()"
            />
            <div
              class="w-11 h-6 bg-green-400 peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-gray-800 after:content-[''] after:absolute after:top-[8px] after:left-[2px] after:bg-gray-800 after:border-gray-800 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="mt-4 flex">
        <span class="text-green-400 leading-4">
          <pre>
   ______                                          __
  / ____/___  ____ ___  ____ ___  ____  ____  ____/ /
 / /   / __ \/ __ `__ \/ __ `__ \/ __ `/ __ \/ __  /
/ /___/ /_/ / / / / / / / / / / / /_/ / / / / /_/ /
\____/\____/_/ /_/ /_/_/ /_/ /_/\__,_/_/ /_/\__,_/
    ____                  __  _
   / __ \_____ ___  _____/ /_(_)___ ___
  / /_/ / ___/ __ `/ ___/ __/ / ___/ _ \
 / ____/ /  / /_/ / /__/ /_/ / /__/  __/
/_/   /_/   \__,_/\___/\__/_/\___/\___/

            </pre
          >
        </span>
      </div>

      <span class="text-orange-400">
        {{ question }}
        <br />
      </span>

      <div class="mt-4 flex">
        <span class="text-blue-400">devin:~$</span>
        <input
          class="rounded-lg bg-gray-800 !outline-none text-green-400 w-full pl-2"
          spellcheck="false"
          [ngClass]="{ incorrect: !isCorrect }"
          [(ngModel)]="userInput"
          (keyup)="compareInput()"
          (change)="clear()"
          [placeholder]="placeholder"
        />
      </div>
    </div>

    <div
      class="coding col-span-1 inverse-toggle px-5 pt-4 shadow-lg text-gray-100 text-sm font-mono subpixel-antialiased bg-gray-800 pb-4 rounded-lg leading-normal overflow-hidden"
    >
      <div class="top flex w-full mb-0">
        <div class="h-3 w-3 bg-red-500 rounded-full"></div>
        <div class="ml-2 h-3 w-3 bg-orange-300 rounded-full"></div>
        <div class="ml-2 h-3 w-3 bg-green-500 rounded-full"></div>
      </div>
    </div>
  </div>
</div>
